.row
  = form_for @tweet, remote: true do |f|
    .form-group.col-md-3
      = f.text_field :text, class: 'form-control', placeholder: 'New tweet'
    .col-md-1
      = f.submit :submit, class: 'btn btn-success'
