tr id = tweet.id
  td = tweet.text
  - if delete
    td = link_to 'Delete', tweet_path(tweet), remote: true, method: :delete
  - if tweet.favorite
    td = link_to 'Unfavorite', favorite_path(tweet, favorite: 0), remote: true,  method: :patch
  - else
    td = link_to 'Favorite', favorite_path(tweet, favorite: 1), remote: true, method: :patch