- unless current_user
  = link_to 'Twitter Signin', '/auth/twitter'
- else
  = render 'form'
  .row
    .col-md-6
      .tweets
        = render 'tweets', tweets: own_tweets, title: 'Your tweets', delete: true
    .col-md-6
      = render 'tweets', tweets: favorites_tweets, title: 'Favorite tweets', delete: false
