.col-md-2
  = image_tag current_user.image.url(:medium)
.col-md-10
  = form_for current_user, remote: true do |f|
    .form-group.col-md-3
      p
        ' Your cool name:
        = current_user.name
      = f.text_field :name, value: nil, class: 'form-control', placeholder: 'Enter new name'
    .form-group.col-md-12
      = f.file_field :image
    .form-group.col-md-12
      = f.submit class: 'btn btn-success'
