nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button" 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to 'Twitter app', root_path, class: 'navbar-brand'
    #navbar.navbar-collapse.collapse
      - if current_user
        ul.nav.navbar-nav
          li
            = link_to 'Followers & tweets', follows_path
        ul.nav.navbar-nav.navbar-right
          li
            = link_to current_user.nickname, edit_user_path(current_user)
