.row
  = form_tag :follows, id: 'new_follow', remote: true do
    .form-group.col-md-6
      = text_field_tag :nickname, nil, class: 'form-control', placeholder: 'Follow someone'
    .col-md-1
      = submit_tag 'Follow someone', class: 'btn btn-success'
