doctype 5
html
  head
    title TwitterApp
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    .container-fluid
      = render 'shared/header'
      .flash_messages
        = render 'shared/flash_messages'
    .container
      = yield
